#logo{
    filter:drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.763));
}
@media(min-width:600px){
    .top-navbar{
        box-shadow: 0 0 6px gray !important;
 }
    #top_actions_section{
        display: flex !important;
        align-items: center !important;
    }
}
.user_list_item .user_list_Arrow_icon{
    transition: all 200ms ease;
}
.user_list_item.active .user_list_Arrow_icon{
    transform: rotate(180deg);
}
.user_list_item.active, .user_list_item.active .collapsible-header{
    background-color: rgba(128, 128, 128, 0.33);
}
table.highlight>tbody>tr:hover{
    background-color: #bbdefb !important;
}
table.striped1 > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.971);
}